################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BenchmarkDotNet.Artifacts/
**/bin/
**/obj/
.vs/
**/BenchmarkDotNet.Artifacts
